
// Primary Colors
$getin-primary: #2CAE79;
$getin-primary-active: #10A37F;
$getin-primary-light: #EEFFF6;

// Success Colors
$getin-success: #4CAF50;
$getin-success-active: #47BE7D;
$getin-success-light: #E8FFF3;

// Danger Colors
$getin-danger: #D00C17;
$getin-danger-active: #AD0A13;
$getin-danger-light: #FFF5F8;

// Info Colors
$getin-info: #7239EA;
$getin-info-active: #5014D0;
$getin-info-light: #F8F5FF;

// Warning Colors
$getin-warning: #F9A825;
$getin-warning-active: #DB9D21;
$getin-warning-light: #FFF8DD;

// White Colors
$getin-white: #FFFFFF;
$getin-white-active: #F5F8FA;

// Dark Colors
$getin-dark: #1A433F;

// Gray Colors
$getin-gray-100: #FAFBFF;
$getin-gray-200: #F2F3F7;
$getin-gray-300: #CBD4DF;
$getin-gray-400: #ABBACC;
$getin-gray-500: #808C99;
$getin-gray-600: #6B7580;
$getin-gray-700: #565E66;
$getin-gray-800: #495057;
$getin-gray-900: #31363B;
