// Primary Colors
$getin-primary: #009EF6;
$getin-primary-active: #0095E8;
$getin-primary-light: #ECF8FF;

// Success Colors
$getin-success: #50CD89;
$getin-success-active: #47BE7D;
$getin-success-light: #E8FFF3;

// Danger Colors
$getin-danger: #F1416C;
$getin-danger-active: #D9214E;
$getin-danger-light: #FFF5F8;

// Info Colors
$getin-info: #7239EA;
$getin-info-active: #5014D0;
$getin-info-light: #F8F5FF;

// Warning Colors
$getin-warning: #FFC700;
$getin-warning-active: #F1BC00;
$getin-warning-light: #FFF8DD;

// White Colors
$getin-white: #FFFFFF;
$getin-white-active: #F5F8FA;

// Dark Colors
$getin-dark: #181C32;

// Gray Colors
$getin-gray-100: #FAFBFF;
$getin-gray-200: #F2F3F7;
$getin-gray-300: #CBD4DF;
$getin-gray-400: #ABBACC;
$getin-gray-500: #808C99;
$getin-gray-600: #6B7580;
$getin-gray-700: #565E66;
$getin-gray-800: #495057;
$getin-gray-900: #31363B;
