$H1-50-54-700: (
  font-weight: 700,
  font-size: 50px,
  line-height: 54px,
  letter-spacing: -2px
);

$H2-44-56-700: (
  font-weight: 700,
  font-size: 44px,
  line-height: 56px,
  letter-spacing: -2px
);

$H3-38-38-600: (
  font-weight: 600,
  font-size: 38px,
  line-height: 38px,
  letter-spacing: -2px
);

$H-34-34-600: (
  font-weight: 600,
  font-size: 34px,
  line-height: 34px,
  letter-spacing: -2px
);

$H-30-30-600: (
  font-weight: 600,
  font-size: 30px,
  line-height: 30px,
  letter-spacing: -2px
);

$H-26-26-600: (
  font-weight: 600,
  font-size: 26px,
  line-height: 26px,
  letter-spacing: -2px
);

$H-24-24-600: (
  font-weight: 600,
  font-size: 24px,
  line-height: 24px,
  letter-spacing: -1px
);

$H-22-38-500: (
  font-weight: 500,
  font-size: 22px,
  line-height: 38px,
  letter-spacing: -1px
);

$H-22-22-600: (
  font-weight: 600,
  font-size: 22px,
  line-height: 22px,
  letter-spacing: -1px
);

$H-20-20-600: (
  font-weight: 600,
  font-size: 20px,
  line-height: 20px,
  letter-spacing: -1px
);

$B-22-38-500: (
  font-weight: 500,
  font-size: 22px,
  line-height: 38px,
  letter-spacing: -1px
);

$B-20-20-600: (
  font-weight: 600,
  font-size: 20px,
  line-height: 20px,
  letter-spacing: 0px
);

$B-18-30-500: (
  font-weight: 500,
  font-size: 18px,
  line-height: 30px,
  letter-spacing: 0px
);

$B-18-18-600: (
  font-weight: 600,
  font-size: 18px,
  line-height: 18px,
  letter-spacing: -1px
);

$B-16-16-500: (
  font-weight: 500,
  font-size: 16px,
  line-height: 16px,
  letter-spacing: 0px
);

$B-16-25-500: (
  font-weight: 500,
  font-size: 16px,
  line-height: 25px,
  letter-spacing: 0px
);

$B-16-16-600: (
  font-weight: 600,
  font-size: 16px,
  line-height: 16px,
  letter-spacing: 0px
);

$B-15-15-500: (
  font-weight: 500,
  font-size: 15px,
  line-height: 15px,
  letter-spacing: 0px
);

$B-15-24-500: (
  font-weight: 500,
  font-size: 15px,
  line-height: 24px,
  letter-spacing: 0px
);

$B-15-15-600: (
  font-weight: 600,
  font-size: 15px,
  line-height: 15px,
  letter-spacing: 0px
);

$B-14-14-500: (
  font-weight: 500,
  font-size: 14px,
  line-height: 14px,
  letter-spacing: 0px
);

$B-14-22-500: (
  font-weight: 500,
  font-size: 14px,
  line-height: 22px,
  letter-spacing: 0px
);

$B-14-14-600: (
  font-weight: 600,
  font-size: 14px,
  line-height: 14px,
  letter-spacing: 0px
);

$B-14-14-700: (
  font-weight: 700,
  font-size: 14px,
  line-height: 14px,
  letter-spacing: 0px
);

$B-13-13-500: (
  font-weight: 500,
  font-size: 13px,
  line-height: 13px,
  letter-spacing: 0px
);

$B-13-21-500: (
  font-weight: 500,
  font-size: 13px,
  line-height: 21px,
  letter-spacing: 0px
);

$B-13-13-600: (
  font-weight: 600,
  font-size: 13px,
  line-height: 13px,
  letter-spacing: 0px
);

$B-13-13-700: (
  font-weight: 700,
  font-size: 13px,
  line-height: 13px,
  letter-spacing: 0px
);

$B-12-12-500: (
  font-weight: 500,
  font-size: 12px,
  line-height: 12px,
  letter-spacing: 0px
);

$B-12-12-600: (
  font-weight: 600,
  font-size: 12px,
  line-height: 12px,
  letter-spacing: 0px
);

$B-12-12-700: (
  font-weight: 700,
  font-size: 12px,
  line-height: 12px,
  letter-spacing: 0px
);

$B-11-11-600: (
  font-weight: 600,
  font-size: 11px,
  line-height: 12px,
  letter-spacing: 0px
);

$B-10-10-600: (
  font-weight: 600,
  font-size: 10px,
  line-height: 10px,
  letter-spacing: -3px
);

//second Page

// Headings
$H1-40-48-400: (
  font-weight: 400,
  font-size: 40px,
  line-height: 48px,
  letter-spacing: 0px
);

$H2-32-38-400: (
  font-weight: 400,
  font-size: 32px,
  line-height: 38px,
  letter-spacing: 0px
);

$H3-28-33-400: (
  font-weight: 400,
  font-size: 28px,
  line-height: 33px,
  letter-spacing: 0px
);

$H5-13-20-400: (
  font-weight: 400,
  font-size: 13px,
  line-height: 20px,
  letter-spacing: 0px
);

$H5-13-20-700: (
  font-weight: 700,
  font-size: 13px,
  line-height: 20px,
  letter-spacing: 0px
);

$H6-12-16-700: (
  font-weight: 700,
  font-size: 12px,
  line-height: 16px,
  letter-spacing: 0px
);

// Paragraphs
$P-14-22-300: (
  font-weight: 300,
  font-size: 14px,
  line-height: 22px,
  letter-spacing: 0px
);

$Ps-14-22-500: (
  font-weight: 500,
  font-size: 14px,
  line-height: 22px,
  letter-spacing: 0px
);

$Ps-14-22-500-italic: (
  font-weight: 500,
  font-size: 14px,
  line-height: 22px,
  letter-spacing: 0px,
  font-style: italic
);


